/**
 * @file EditPatient.scss
 */

@import 'scss/common.scss';

.edit-patient {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    .edit-patient-stepper {
        margin-bottom: 16px;
    }

    .edit-patient-base-info {
        padding-bottom: 16px;
        border-bottom: 1px solid $theme-border;

        .edit-patient-name {
            margin: 0;
        }

        .edit-patient-desc {
            opacity: .5;
        }
    }

    .edit-patient-content {
        position: relative;
        flex: 1;
        padding: 24px;
        overflow: hidden;

        .edit-patient-content-title {
            margin-bottom: 0;
        }
    }
}
