@import '../../../../common.scss';

.nav-bar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 64px;
    height: 100%;
    padding: 16px 0;
    color: $theme-primary;
    background: #fff;
    font-size: 24px;
    box-shadow: 0 0 16px transparentize(#000, .94) !important;

    .nav-patient-popover-wrapper {
        position: relative;
        left: -99999px;
        transition: left 0s;
    }

    &.fold {
        .nav-patient-popover-wrapper {
            left: 0;
            transition: left 0s $theme-transition-duration;

            &::before {
                content: "";
                display: block;
                width: 60%;
                height: 1px;
                margin: 8px auto 16px;
                background: darken($theme-border, 4%);
            }
        }
    }
}
