/**
 * @file MaterialDateTimePicker.scss
 */

@import '../assets/scss/common';

.material-date-time-picker {
    height: 64px;

    .material-provider {

        .material-provider-label {
            color: $theme-label !important;
        }

        .text-field-input,
        .text-field-placeholder {
            font-size: 14px !important;
        }
    }

    &.focused {
        .material-provider-label {
            color: $theme-highlight !important;
        }
    }
}
