/**
 * @file ModuleTableAction.scss
 */
@import 'scss/common.scss';

.module-table-action-tip {
    transform: translate(1px, -4px);
}

.icon-button.module-table-action {
    width: auto;
    min-width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-left: 16px;

    .button-icon {
        font-size: 20px;
    }

    .base-button-value {
        padding: 0 12px;
        font-weight: 600;
    }

    &:hover {
        background: $theme-secondary;
    }
}
