/**
 * @file ModuleTableActionButtonRadioGroup.scss
 */
@import 'scss/common.scss';

.list.button-radio-group.module-table-action-button-radio-group {
    width: auto;
    border-radius: 8px;
    margin-left: 16px;
    transition: background $theme-transition-duration ease-in-out;

    .list-item {
        width: 40px;
        padding: 0;
        background: transparent;
        border: none;
        margin: 0;
        border-radius: 8px;
        text-align: center;
        transition: background $theme-transition-duration ease-in-out;

        .button-icon-left {
            float: none;
            width: auto;
            margin: 0;
            color: $theme-primary;
            font-size: 20px;
        }

        &:hover {
            background: transparent;
        }

        &.activated {
            background: $theme-secondary;
        }
    }

    &:hover {
        background: $theme-secondary;

        .list-item.activated {
            background: darken($theme-secondary, 8%);
        }
    }
}
