/**
 * @file ModuleTableColumnsSelector.scss
 */
@import 'scss/common.scss';

.module-table-columns-selector-pop {
    max-height: 400px;
    overflow: auto;
    z-index: $dialog-z-index + 1;

    .popup-content {
        border: 1px solid $theme-border;

        .tree .tree-node {
            padding-left: 40px !important;
            overflow: hidden;

            .tree-node-inner {
                display: flex;
                align-items: center;
                white-space: normal;
                line-height: normal;

                .tree-node-collapse-icon {
                    left: -30px;
                    color: $theme-highlight;
                    font-size: 14px;
                }

                .tree-node-select {
                    float: none;
                    flex: 0 0 18px;
                }
            }
        }
    }
}
