/**
 * @file EditPatient.scss
 */
@import '../../../../common.scss';

.edit-patient {
    position: relative;

    .edit-patient-stepper {
        margin-bottom: 56px;
    }

    .edit-patient-base-info {
        padding-bottom: 16px;
        border-bottom: 1px solid $theme-border;

        .edit-patient-name {
            margin: 0;
        }

        .edit-patient-desc {
            opacity: .5;
        }
    }

    .edit-patient-content {
        overflow: hidden;

        .edit-patient-content-title {
            margin-bottom: 64px;
        }
    }
}
