/**
 * @file PatientListTable.scss
 */

@import 'scss/common.scss';

.patient-list-table-card {
    flex: 1;
}

.patient-list-table {

    .td-column {
        display: flex !important;
        align-items: center;
        overflow: visible !important;
    }

    .id-link {
        color: $theme-field;
        text-decoration: none !important;

        &:hover {
            color: $theme-highlight;
            text-decoration: underline !important;
        }
    }

    .material-provider-field {
        line-height: 40px;
    }

    .name-field {
        width: 100%;

        .text-field-input {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .group-select {
        width: 100%;

        .dropdown-trigger {
            padding-left: 0;
        }
    }
}

.no-patient-found {
    margin-top: 80px;
    font-size: 24px;
    text-align: center;
    color: $theme-description;
}
