/**
 * @file ModuleTable.scss
 */
@import 'scss/common.scss';

.module-table-wrapper {
    position: relative;
    flex: 1;

    .table.customized-table.module-table {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100% !important;
        transition: height $theme-transition-duration ease-in-out;

        .table-content {
            border: none;

            table {
                thead tr th {
                    border: none;
                    //background: linear-gradient(180deg, $theme-light-grey, $theme-dark-grey) !important;
                    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#fafafa, endColorStr=#f4f4f4) !important;
                    white-space: pre-wrap;

                    .th-column {
                        height: 48px;
                        line-height: 48px;
                        font-weight: 600;
                        color: $theme-table-head;
                        text-align: inherit;

                        .table-head .table-head-content {
                            white-space: normal;
                        }
                    }

                    &.table-select-th .th-column {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: auto;
                        padding: 0 !important;

                        .th-column-title {
                            display: inline-block;
                            height: auto;

                            .table-select {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }

                    &:hover {
                        background: linear-gradient(180deg, $theme-dark-grey, $theme-light-grey) !important;
                        filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#f4f4f4, endColorStr=#fafafa) !important;
                    }
                }

                tbody tr td {
                    border: none;
                    border-bottom: 1px solid $theme-border;

                    .td-column {
                        height: 48px;
                        line-height: 48px;
                    }
                }

                tfoot tr td {
                    height: 32px;
                    line-height: 32px;
                    border: none;
                    border-bottom: 1px solid $theme-border;
                    font-weight: 600;
                }
            }
        }

        .table-no-data {
            position: absolute;
            bottom: 0;
            width: 100%;
            border: none;
            font-style: italic;
        }

        .table-init-loading {
            display: none !important;
        }

        &.row-size-comfortable {
            table {
                thead tr th .th-column {
                    height: 64px;
                    line-height: 64px;
                    font-size: 14px;
                }

                tbody tr td .td-column {
                    height: 64px;
                    line-height: 64px;
                    font-size: 14px;
                }
            }
        }

        &.row-size-compact {
            table {
                thead tr th .th-column {
                    height: 36px;
                    line-height: 36px;
                }

                tbody tr td .td-column {
                    height: 36px;
                    line-height: 36px;
                }
            }
        }

        & ~ .pagination,
        .pagination {
            padding-top: 16px;

            .pagination-total {
                font-weight: 600;
                color: $theme-label;
            }
        }

        &.full-screen {

            .scroll-table-body {
                box-sizing: border-box;
                padding-bottom: 8px;
                z-index: 2;
            }

            & ~ .pagination,
            .pagination {
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                height: 48px;
                padding: 12px 24px;
                background: #fff !important;
                box-shadow: 1px -1px 4px transparentize(#ccc, .5);
                z-index: $dialog-z-index;
            }
        }

        &.loading {
            .scroll-table-head,
            .scroll-table-foot {
                padding-bottom: 0 !important;
                margin-bottom: 0 !important;
                overflow: hidden !important;
            }
        }
    }

    .module-table-loading-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity $theme-transition-duration ease-in-out,
        left 0s $theme-transition-duration;
        z-index: 2;

        .module-table-loading {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 48px;
            height: 48px;
            margin: auto;
        }

        &.fade-out {
            opacity: 0;
            left: -999999px;
        }
    }
}

.module-table-page-size-pop.full-screen {
    z-index: $dialog-z-index + 1;
}
