/**
 * @file AnalgesiaTable.scss
 */

@import '../../../../assets/scss/common';

.analgesia-data-table-card {

    .analgesia-data-table {

        .material-provider-label-wrapper {
            display: none;
        }

        .table-row {
            border: none !important;
        }

        .material-text-field,
        .material-dropdown-select {
            width: 72px;
        }

        .material-dropdown-select {
            display: inline-block;
        }

        label {
            color: $theme-description;
        }
    }

    &.not-full-screen {
        padding: 0 !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        background: transparent !important;
    }

    &.full-screen {
        bottom: 20px !important;
    }
}
