/**
 * @file ModuleCard.scss
 */
@import 'scss/common.scss';

.module-card {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 24px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.06) !important;
    overflow: hidden;
}
