/**
 * @file DropdownSelect.scss
 */

@import 'scss/common.scss';

.dropdown-select-popup {
    border: 1px solid $theme-border !important;
    border-radius: $theme-border-radius !important;
    margin-top: 2px !important;

    .list-item {
        font-size: 16px;
    }

    &.above {
        margin-top: -2px !important;
    }
}
