/**
 * @file MaterialDateTimePicker.scss
 */
@import '../common.scss';

.material-date-time-picker {

    .material-provider-label {
        color: $theme-label !important;
    }

    .text-field-input,
    .text-field-placeholder {
        font-size: 14px !important;
    }

    &.focused {
        .material-provider-label {
            color: $theme-highlight !important;
        }
    }
}
